:root {
  --white: #e9e9e9;
  --gray: #333;
  --yellow: #FFCD7A;
  --tan: #E8AB6F;
  --salmon: #FFB187;
  --orange: #E8886F;
  --red: #FF827A;
}

main input {
  background-color: var(--gray);
  color: var(--white);
}

.player-info .card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--yellow);
}

.player-info button {
  color: var(--white);
  background-color: var(--red);
  width: 25%;
  padding: 15px;
}

.list-group-item {
  background-color: var(--tan);
}

.enemies {
  display: flex;
  justify-content: space-between;
}

.enemies h2 {
  color: var(--gray);
}

@media only screen and (orientation:portrait) {
  body {
    height: 200vw;
    transform: rotate(90deg);
  }

  h2 {
    padding-top: 5%;
  }

  .start {
    margin-top: auto;
  }
}